---
import Formsection from "./Form"
import "./form.css"
import Formbg from "../images/boy-orange-bg.png"
---
<section class="form-sections ptb"  data-aos="fade-up" 

>
   
 
 <div class="container">
  

   <div class="form-wrapper">
      
    <div class="figures color-accent-motion"></div>
    <div class="figures f2 color-accent-motion"></div>
   
       <div class="row form-row">
         <div class="col-lg-4" data-aos="zoom-in" 
         >
           <h1>
            join us and stay tuned
           </h1>
           <h4>
            Admission Enquiry <span class="" >2023-24</span>
           </h4>
         </div>
         <div class="col-lg-5">
            <Formsection client:load />
         </div>
       </div>
   </div>
 </div>
</section>