---
import image from "../images/icon1.png"
import Right from "../imageright/imageright.astro"
import Aboutdesign1 from "../images/circle/003.png"
import Aboutdesign2 from "../images/circle/001.png"
import Left from '../imageleft/imageleft.astro'
---

<section class="about-page">

  
    <div class="container">
       <div>
        <Right title="welcome to " orange="St.Michel's" words="Welcome to our prestigious English school, where excellence and individuality converge. With a commitment to academic rigor and personalized attention, we foster an environment where students can truly shine. Our dedicated faculty, comprised of passionate educators, guide and inspire each student to reach their highest potential. Small class sizes ensure that every student receives the attention and support they need to excel academically and personally. Our holistic approach to education extends beyond the classroom, offering a wide range of extracurricular activities and opportunities for personal growth. With a focus on character development, critical thinking, and global awareness, we prepare our students to become well-rounded, confident individuals ready to make a positive impact in an ever-changing world." image={Aboutdesign1}/>

       </div>
        <div>
            <Left title="Our" words="At our school, our mission is to empower students to become lifelong learners, critical thinkers, and compassionate global citizens. We strive to provide a nurturing and inclusive environment where every student is valued and encouraged to reach their full potential. Through rigorous academic programs, innovative teaching methods, and a focus on character development, we aim to cultivate a love for learning and instill core values such as integrity, resilience, and empathy. We believe in fostering a strong partnership between educators, students, and parents to create a collaborative learning community. By nurturing curiosity, fostering creativity, and promoting active engagement, we are committed to preparing our students for success in an ever-evolving world. Together, we inspire growth, ignite passion, and shape leaders of tomorrow."  
            image={Aboutdesign2} 
            orange="Mission"   />
        </div>


    </div>
</section>

