---
import Teachercard from  "./teachercard.astro"
import teacher1 from "../images/aboutpage/members/basrkar.jpg"

---

<div class="teachers">
    <div class="container">
        <h4 class="title text-center">
            our <span class="orange">Senior Staffs</span>
        </h4>
       

        <ul class="teacher-slide">
          <li  data-aos="zoom-in" 
          
          >
            <Teachercard    title="Mrs.Susheela K.V" role="PUC NTT" words="I am in service as a teacher in this school from 28 years. My desire has been always a deserving teacher for deserved students of a deserved institution. I most of the times on different situations. am identified as St Michaers School Teacher. I always deemed it as a matter Of pride for my, this idenbfication- I am honestly proud Of the three *Qs• Quality Education. Quaified teachers, and Quality infrastructure For providing these three Qs thousands of students are enjoying unÄustatuses in the they all feel proud for being taught in the STMICHAEL'SSCHOOL THE PRIDE OF KANAKAPURA."  image="/staffs/susheela.png" />
          </li>

          <li  data-aos="zoom-in" 
          
          >
            <Teachercard    title="Mrs.Gundamma K.T" role="PUC.Ded"  image="/staffs/gundama.png" words="I have been rendering service sincerely in this school from the last 33 years I have sought an inexpressible delight in serving the school in many capacities as teacher, under the able leadership of chief trustee mrs Anusuya Devi Srinivas and Secretary Mr Bhaskar who are potentially divine and humanitarian outlook with all those who are connected with the school namely students staff parents. I overwhelmingly appGed all the best I have in me the determination,dedication and hard work to the task at hand for the school, a unique in its own."/>
          </li>

          <li  data-aos="zoom-in" 
          
          >
            <Teachercard    title="Smt.Nalini" role="PUC.Ded"  image="/staffs/nalini.png" words='It was my cherished desire to be a dedicated teacher in a reputed school soon after my education. Most fortunate I was for availing this opportunity in St Michaels English schoool. Myhappiness knew no bounds. The students and management were added feathers to the crown of my aspiration in teaching I  did serve with zeal and best as teacher and also my happiness knows no bounds I believe, all believe in the eternal and universal  dictum. "\An able alone is chosen by an able management for anable job"\. I love to contribute in the mission of the management in creating a model school in kanakapaura.' />
          </li>
        
        </ul>
    </div>
</div>
 

