---
import Card from "./toppercard.astro";
// import T1 from "../images/toppers/vai.jpg";
import "./topper.css";
---

<section class="topper">

  <div class="topper-bg">
    
  </div>
  <div class="container">

    <h5 class="title text-center">
        Our <span class="orange">SSLC </span> Toppers
    </h5>

    <div class="topper-slide" >
      <ul class="topper-slider owl-carousel">
        <li class="slide"><Card title="SANGNA ACHARYA B M" image="/Toppers/sagna.jpg" marks="618" percent="98.88" /></li>
        <li class="slide"><Card title="VAIBHAV G P" image="/Toppers/Vaibhav G P.JPG" marks="617" percent="78.72"  /></li>
        <li class="slide"><Card title="INCHARA S" image="/Toppers/Inchara S.JPG" marks="616"  percent="98.56" /></li>
        
        <li class="slide"><Card title="MOKSHITHA M	" image="/Toppers/Mokshitha M.JPG" marks="605" percent="96.8"  /></li>
        <li class="slide"><Card title="HEMANTH U" image="/Toppers/Hemanth U.JPG" marks="605"  percent="96.8" /></li>
        <li class="slide"><Card title="TANMAYA C S" image="/Toppers/Tanmaya C S.JPG" marks="599" percent="95.84"  /></li>
        <li class="slide"><Card title="HARSHITHA S" image="/Toppers/Harshitha S.JPG" marks="593" percent="94.88"  /></li>
        <li class="slide"><Card title="APEKSHA N C" image="/Toppers/Apeksha N C.JPG" marks="581" percent="92.96"  /></li>
        <li class="slide"><Card title="THANUJA N S" image="/Toppers/Thanuja N S.JPG" marks="576" percent="92.16"  /></li>
        <li class="slide"><Card title="GAGANA K S" image="/Toppers/Gagana K S.JPG" marks="574" percent="91.84"  /></li>
        <li class="slide"><Card title="JEEVAN K M" image="/Toppers/Jeevan K M.JPG" marks="569"  percent="91.04" /></li>
        <li class="slide"><Card title="AMISHA SARIKA GOWDA" image="/Toppers/Amisha Sarika Gowda.JPG" marks="566"  percent="90.56" /></li>
        <!-- <li class="slide"><Card title="SANGNA ACHARYA B M" image="" marks="613" percent="" /></li> -->
       
       
    </ul>
    </div>
    
    
  </div>
</section>
