---
import Logo from "./logo1.png";
import Logo1 from "./icon1.png";
import Logo2 from "./icon2.png";
import Logo3 from "./icon3.png";
import Button from "../Button/Button.astro";
import Menu from "../images/menu.png";
import Close from "../images/close.png";

---

<script>
  var btn = document.getElementById("menus");
  var side = document.getElementById("bar");

  // const menubar = menu
  let bar = true;

  function chngimg() {
    side.classList.toggle("active-nav");
     bar = true; 
    if (bar) {
      document.getElementById('menus').src = '/close.png' ;
    }

  }

 
</script>

<div class="header">
  <div class="mobile-menu" id="bar">
    <ul>
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="">About</a>
      </li>
      <li>
        <a href="">Kindergarten</a>
      </li>
      <li>
        <a href="">Primary</a>
      </li>
      <li>
        <a href="">Highschool</a>
      </li>
      <li>
        <a href="">Facilities</a>
      </li>
      <li>
        <a href="">Gallery</a>
      </li>
      <li>
        <a href="">contact</a>
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="header-wrapper">
      <div class="row section1">
        <div class="col-lg-3" data-aos="flip-left" data-aos-offset="500">
          <img src={Logo} alt="" />
          <img src="/menu.png" alt="" class="menu " id="menus"onclick="chngimg()" />
        </div>
        <div class="col-lg-7">
          <div
            class="add"
            data-aos="fade-down"
            data-aos-offset="500"
            data-aos-duration="400"
          >
            <div class="icon">
              <img src={Logo1} alt="" />
            </div>
            <div class="contents">
              <ul>
                <li>
                  <h6>call</h6>
                </li>
                <li>
                  <a href="">080-27525555</a>
                </li>
                <li>
                  <a href="">8197292244</a>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="add"
            data-aos="fade-down"
            data-aos-offset="500"
            data-aos-duration="700"
          >
            <div class="icon">
              <img src={Logo2} alt="" />
            </div>
            <div class="contents">
              <ul>
                <li>
                  <h6>Work Time</h6>
                </li>
                <li>9:30 AM - 4:30 PM</li>
              </ul>
            </div>
          </div>
          <div
            class="add"
            data-aos="fade-down"
            data-aos-offset="500"
            data-aos-duration="900"
          >
            <div class="icon">
              <img src={Logo3} alt="" />
            </div>
            <div class="contents">
              <ul>
                <li>
                  <h6>Address</h6>
                </li>
                <li>
                  Mysore Road, Kanakapura, <br /> Karnataka 562117
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row section2">
        <div class="col-lg-8">
          <div>
            <ul>
              <li
                class="links"
                data-aos="fade-right"
                data-aos-offset="500"
                data-aos-duration="200"
              >
                <a href="/">Home</a>
              </li>
              <li
                class="links"
                data-aos="fade-right"
                data-aos-offset="500"
                data-aos-duration="300"
              >
                <a href="/about">About</a>
              </li>

              <li>
                <div
                  class="links"
                  data-aos="fade-right"
                  data-aos-offset="500"
                  data-aos-duration="400"
                >
                  <a href="">Classes</a>
                </div>
                <div class="dropdown">
                  <ul>
                    <li>
                      <a href="/kindergarten">Kindergarten</a>
                    </li>
                    <li>
                      <a href="/primary">Primary School</a>
                    </li>
                    <li>
                      <a href="/highschool">High School</a>
                    </li>
                  </ul>
                </div>
              </li>

              <li class="">
                <div
                  class="links"
                  data-aos="fade-right"
                  data-aos-offset="500"
                  data-aos-duration="500"
                >
                  <a href=""
                    >Facilities <span class="material-symbols-outlined">
                      arrow_drop_down
                    </span></a
                  >
                </div>
                <div class="dropdown facility">
                  <ul>
                    <li>
                      <a href="/extra-activities">
                        Extra-crricular activities
                      </a>
                    </li>
                    <li>
                      <a href="/school-facilities">School facilities</a>
                    </li>
                  </ul>
                </div>
              </li>

              <li
                class="links"
                data-aos="fade-right"
                data-aos-offset="500"
                data-aos-duration="600"
              >
                <a href="/gallery">Gallery</a>
              </li>
              <li
                class="links"
                data-aos="fade-right"
                data-aos-offset="500"
                data-aos-duration="700"
              >
                <a href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25px"
            height="16"
            fill="currentColor"
            class="bi bi-facebook"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
            ></path>
          </svg>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25px"
            height="16"
            fill="currentColor"
            class="bi bi-instagram"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"
            ></path>
          </svg>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25px"
            height="16"
            fill="currentColor"
            class="bi bi-linkedin"
            viewBox="0 0 16 16"
          >
            <path
              d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .header {
    padding: 1rem 0;
    background-color: white;

    .mobile-menu {
      position: fixed;
      display: none;
      top: 0;
      left: -900px;
      z-index: 77;

      width: 40%;
      background-color: var(--orange);
      height: 100vh;
      transition: var(--transition);

      ul {
        width: 100%;
        display: flex;
        justify-content: stretch;
        align-items: stretch;
        flex-direction: column;
        gap: 1rem;

        li {
          padding: 1rem 0;
          padding-left: 2rem;

          &:hover {
            background-color: var(--blue);
          }
          a {
            font-size: 18px;
            color: white;
            width: 100%;
            cursor: pointer;
          }
        }
      }
    }

    .header-wrapper {
      .section1 {
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1rem;
        > :nth-child(1) {
          padding: 0;

          display: flex;
          justify-content: flex-start;
          align-items: center;
          img {
            // width: 170px;
            height: 90px;
            object-fit: contain;
            cursor: pointer;
          }

          .menu {
            display: none !important;
          }
        }

        :nth-child(2) {
          display: flex;
          // background-color: red;
          justify-content: space-between;
          // align-items: center;

          .add {
            display: flex;
            gap: 1rem;

            ul li {
              font-size: 14px;
              font-weight: 500;

              a {
                transition: var(--transition);
                //   color:var(--blue);
                &:hover {
                  color: var(--orange);
                }
              }

              h6 {
                font-weight: 600;
                font-size: 15px;
              }
            }
          }
        }
      }

      .section2 {
        justify-content: space-between;
        align-items: center;

        > :nth-child(1) {
          padding: 0;

          ul {
            display: flex;
            width: 100%;
            justify-content: flex-start;
            gap: 3.5rem;
            padding-left: 1rem;

            .dropdown {
              display: none !important;
              position: absolute;
              top: 90px;
              z-index: 99;
              background-color: white;

              // background-color: red;
              // width: 160px;
              border-radius: 8px !important;
              box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.16);
              transition: var(--transition);

              ul {
                display: flex;

                flex-direction: column;
                padding: 1rem;
                gap: 0.5rem;

                li {
                  width: 100%;

                  a {
                    font-weight: 600;
                    //   color: var(--blue) !important;

                    &:hover {
                      color: var(--blue);
                    }
                  }
                }
              }
            }

            li {
              position: relative;
              &:hover {
                .dropdown {
                  width: 200px;
                  display: block !important;
                  top: 30px !important;
                  z-index: 999;
                  // z-index: 99 !important;
                  transition: var(--transition) !important;
                }
              }
            }

            .facility {
              width: 300px !important;
            }

            .links {
              a {
                font-weight: 600;
                color: var(--blue);

                display: flex;
                justify-content: center;

                // align-items: flex-end;
                position: relative;
                transition: var(--transition);

                &::after {
                  content: "";
                  display: block !important;
                  position: absolute;

                  width: 0%;
                  bottom: 0;
                  height: 4px;
                  border-radius: 15px;
                  background-color: var(--orange);
                  left: 0;
                  transition: var(--transition);
                }

                &:hover {
                  color: var(--orange);

                  &::after {
                    display: block !important;
                    width: 50%;
                    transition: var(--transition);
                  }
                }

                .dropdown {
                  display: block !important;
                }
              }
            }
          }
        }

        > :nth-child(2) {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 1rem;
          svg {
            fill: var(--orange);
            height: 30px !important;
            transition: var(--transition);
            cursor: pointer;
            // width: 200px;

            &:hover {
              transform: scale(1.4);
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .header {
      .header-wrapper {
        .section1 {
          font-size: 14px;

          > :nth-child(1) {
            // padding-left: 0.3rem;
            img {
              height: 70px;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 650px) and (max-width: 1200px) {
    .header {
      hr {
        display: none;
      }

      .mobile-menu {
        display: block !important;
      }

      .header-wrapper {
        .section1 {
          font-size: 14px;

          > :nth-child(1) {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0 2rem;
            // padding-left: 0.3rem;

            img {
              height: 70px;
            }

            .menu {
              height: 40px;
              display: block !important;
            }
          }

          > :nth-child(2) {
            display: none;
          }
        }
        .section2 {
          display: none;
        }
      }
    }
  }

  @media screen and (min-width: 400px) and (max-width: 640px) {
    .header {
      hr {
        display: none;
      }

      .mobile-menu {
        display: block !important;
      }

      .header-wrapper {
        .section1 {
          font-size: 14px;

          > :nth-child(1) {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0 2rem;
            // padding-left: 0.3rem;

            img {
              height: 50px;
            }

            .menu {
              height: 30px;
              display: block !important;
            }
          }

          > :nth-child(2) {
            display: none;
          }
        }
        .section2 {
          display: none;
        }
      }
    }
  }

  .active-nav {
    left: 0px !important ;
  }
</style>
