---
import Logo from "./logo1.png";
import "./footer.css";
import Logo1 from "../images/icon1.png";
import Logo2 from "../images/icon2.png";
import Logo3 from "../images/icon3.png";
import Fb from "../images/icons/Facebook.svg";
import Ig from "../images/icons/Instagram(3).svg";
import Ln from "../images/icons/Linkedin.svg";
---

<section class="footer">
  <div class="container">
    <hr />
    <div class="row footer-row">
      <div class="col-lg-3">
        <ul class="contacts">
          <li>
            <h6>Contact Us</h6>
          </li>
          <li>
            <div class="add">
              <div class="icon">
                <span class="material-symbols-outlined"> call</span>
              </div>
              <div class="contents">
                <ul>
                  <li><p class="dark">Call Us</p></li>
                  <li>
                    <p><a href="tel:+91-9606769953">9606769953</a></p>
                  </li>
                  <li>
                    <p><a href="tel:+91-8197292244">8197292244</a></p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="add">
              <div class="icon">
                <span class="material-symbols-outlined"> schedule</span>
              </div>
              <div class="contents">
                <ul>
                  <li><p class="dark">Work Time</p></li>
                  <li><p>9:30 AM - 4:30 PM</p></li>
                </ul>
              </div>
            </div>
            <div class="add">
              <div class="icon">
                <span class="material-symbols-outlined"> location_on</span>
              </div>
              <div class="contents">
                <ul>
                  <li><p class="dark">Address</p></li>
                  <li>
                    <p>Mysore Road, Kanakapura, <br /> Karnataka 562117</p>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-2">
        <ul>
          <li><h6 class="">Quick links</h6></li>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>

          <li><a href="/event-detail">Events</a></li>
          <li><a href="/school-facilities">Facilities</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-lg-6">
        <div class="footer-upcoming">
          <div>
            <img src="/eventsup/youth.jpg" alt="" />
          </div>
          <div>
          <p class="dark"><a href="/event-detail">  Youth Day 2023</a></p>
            <div>
              <span class="material-symbols-outlined"> calendar_month</span> January
              12th, 2024
            </div>
          </div>
        </div>
        <hr />
        <div class="footer-upcoming">
          <div>
            <img src="/eventsup/republic.jpg" alt="" />
          </div>
          <div>
            <p class="dark"><a href="/event-detail">Republic Day 2023</a></p>

            <div>
              <span class="material-symbols-outlined"> calendar_month</span> January
              26th, 2024
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <div class="copy d-flex">
      <p>
        &copy; Copyrights 2023 <a href="">St.Michel'sEnglishSchool</a> All Rights
        Reserved.
      </p>
      <p>
        Powered by <a href="/">BrandSwift</a>
      </p>
    </div>
  </div>
</section>
